language: go
go_import_path: github.com/cloudflare/cloudflare-ingress-controller
go:
  - 1.10.x

sudo: false
install:
  - go get -u github.com/golang/dep/cmd/dep && dep ensure -vendor-only -v

script:
  - make check